.ornament-title{
    text-align: center;
}
.ornaments-home{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.ornament-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    gap: 20px;

}
.selected-ornaments{
    padding: 0 10px 0 10px;
    
}
.ornaments-selector{
    position: sticky;
    top: 0%;
}
.selected-btn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    margin-top: 10px;
    color: white;
}
.selected-btn:hover{
    background-color: white;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    
    .ornaments-home{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
     
    }
    .selected-btn{
        margin-bottom: 10px;
    }
    .ornament-container{
        grid-template-columns: repeat(1 , 1fr);
        justify-content: center;
        align-items: center;
    } 
    .ornament-container{
        padding: 0%;
        margin: 0%;
    }
  }


  @media only screen and (min-width: 1000px) {
    .selected-btn {
      width: 200px;
    }
}